body { 
    background-color: #141414;
    margin: 0;
} 

.profile-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    height: 500px;
    width: 240px;
    border-radius: 20px;
    text-align: center;
}

#profile-image {
    margin-top: 15px;
    width: 85px;
    height: 85px;
    border-radius: 50px;
}

a.follow-button {
    display: block;
    margin: 10px auto;
    padding: 10px 0;
    width: 80%;
    background-color: #5b4d4b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a.follow-button:hover {
    background-color: #438677;
}

.name {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.location {
    font-size: 14px;
    color: #57c8be;
}

.description {
    font-size: 12px;
    color: #aaaaaa;
    margin: 10px 20px;
}
